.item {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 15px 20px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.item_title {
  font-weight: bold;
  text-decoration: none;
  font-size: 30px;
  color: #000;
  margin: 0 0 10px;
  display: flex;
  flex: 1 1 auto;
  align-self: center;
  flex-direction: column;
  margin: 0;
}

.synopsis_title {
  text-align: left;
  font-weight: bold;
  margin: 0;
}

.synopsis {
  flex: 2 auto;
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
}

.cast_title {
  font-weight: bold;
  margin-top: 0;
}

.cast span,
.directors span {
  padding: 2px 0;
}

.cast,
.directors {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.keyArtImages {
  display: flex;
  flex: 1 auto;
}

.row {
  display: flex;
  flex-direction: row;
  background: #f1f1f1;
  padding: 15px;
}

.quote {
  padding: 5px;
  font-style: italic;
  font-weight: normal;
  text-transform: capitalize;
  font-size: 20px;
  margin-bottom: 10px;
}
